---
import { formatDate } from '../../scripts/date';

export interface Props {
	url: string | undefined;
	data: any;
}

const { url, data } = Astro.props;
---

<a href={url} class="mb-12 flex transition-colors hover:bg-slate-50">
	<div class="flex flex-col md:flex-row rounded max-w-4xl shadow-xl">
		<div
			class="h-40 w-full rounded-t bg-center bg-cover md:h-auto md:w-72 md:rounded-tr-none md:rounded-l"
			style={`background-image: url('${data.mainImage}')`}
		>
		</div>
		<div class="flex flex-col flex-1 p-6 gap-4 text-left">
			<div>
				<p class="uppercase text-xs text-slate-500 mb-3">
					{data.categories}
				</p>
				<h1 class="text-3xl font-black">{data.title}</h1>
			</div>
			<p>{data.summary}</p>
			<div class="flex items-center justify-between text-slate-500 text-sm">
				<div class="flex items-center">
					<img
						src={data.authorAvatarUrl}
						alt={data.authorName}
						class="w-8 h-8 rounded-full"
					/>
					<span class="ml-2">{data.authorName}</span>
				</div>
				<span>
					<time>{formatDate(data.publishedAt)}</time>
				</span>
			</div>
		</div>
	</div>
</a>
