---
import '@fontsource/lato/400.css';
import '@fontsource/lato/700.css';
import '@fontsource/lato/900.css';

import ContactCta from '../components/ContactCta.astro';
import Footer from '../components/Footer.astro';
import TopNav from '../components/nav/TopNav.vue';

export interface Props {
	title: string;
	og: {
		title: string;
		description: string;
		image: string;
	};
}

const { title, og } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={og.title} />
		<meta property="og:description" content={og.description} />
		<meta property="og:image" content={og.image} />
		<title>{title}</title>
	</head>
	<body class="font-sans">
		<TopNav client:only="vue"/>
		<slot />
		<footer class="bg-slate-50 mt-24">
			<ContactCta />
			<Footer />
		</footer>
	</body>
</html>
